body 
    .wrapper
        h2 SERVICES
        div.line
        p.underH2 We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
        div.services
            div 
                img(src="#", alt="F")
                h3 Clean Typography
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            div 
                img(src="", alt="F")
                h3 Rock Solid Code
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            div 
                img(src="", alt="F")
                h3 Expert Support
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            