header
    .wrapper
        .header-top 
            span
                b
                    a Startap
            ul 
                li  
                    a.nav(href="#") Home
                li
                    a.nav(href="#") Services
                li
                    a.nav(href="#") About
                li 
                    a.nav(href="#") Works
                li 
                    a.nav(href="#") Blog
                li 
                    a.nav(href="#") Clients
                li 
                    a.nav(href="#") Contact
        h1 WELCOME TO STARTUP
        p.h1 Your Favourite Creative Agency Template
        div.buttons
            a.button(href="#")
                span GET STARTED
        
        