div.slider#slider
  div.wrapper
    div.slides#slides
        span.slide Slide 1
        span.slide Slide 2
        span.slide Slide 3
        span.slide Slide 4
        span.slide Slide 5
  a.controlPrev#prev(href="#")
  a.controlNext#next(href="#")
