doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;700&family=PT+Sans&family=Roboto&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/styles.css")
        title startup
    body 
        .wrapper.header-backround.header
            .wrapper
                p.logo Startup
                nav.header-menu
                    li 
                        a(href="javascript:void(0)" onclick="scrollHome()") Home
                    li 
                        a(href="javascript:void(0)" onclick="scrollServices()") Services 
                    li 
                        a(href="javascript:void(0)" onclick="scrollAbout()") About 
                    li 
                        a(href="javascript:void(0)" onclick="scrollWorks()") Works 
                    li 
                        a(href="javascript:void(0)" onclick="scrollBlog()") Blog 
                    li 
                        a(href="javascript:void(0)" onclick="scrollClients()") Clients 
                    li 
                        a(href="javascript:void(0)" onclick="scrollContact()") Contacts 
                h1.header-h1 WELCOME TO STARTUP
                p.header-text Your Favourite Creative Agency Template
                .a-block
                    a(href="javascript:void(0)" onclick="popupOpen(); dragAndDrop()").header-link GET STARTED
                .popup 
                    a(href="javascript:void(0)" onclick="popupHidden()").cross +
                    .red-block(draggable="true" data-color="red")
                    .red-finish.js-cell.redEl(data-color="red")
                    .green-block.greenEl(draggable="true" data-color="green")
                    .green-finish.js-cell.greenEl(data-color="green")
                    .blue-block.blueEl(draggable="true" data-color="blue")
                    .blue-finish.js-cell.blueEl(data-color="blue")
                    .yellow-block.yellowEl(draggable="true" data-color="yellow")
                    .yellow-finish.js-cell.yellowEl(data-color="yellow")
                    a(href="#" onclick="audit()").sing Sing in
                .popup-register
                form.popup-form
                    h2 registration
                    p
                        input.register-input#popup-name(maxlength="30" name="popup-name" placeholder="Your name" type="text")
                        label(for="popup-name")
                    p
                        input.registr-input#popup-email(maxlength="40" name="popup-email" placeholder="Your e-mail" type="email")
                        label(for="popup-email")
                    p
                        input.registr-input#popup-password(name="popup-password" placeholder="Your password" type="password")
                        label(for="popup-password")
                    p
                        input.submit.register-submit#popoup-submit(type="submit" value="Register")
                        label(for="submit")
        .wrapper 
            main.main
                h1.main-h1 SERVICES 
                p.main-text We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
                .main-cards-block
                    .card1 
                        figure 
                            a(href="javascript:void(0)").a
                            figcaption 
                                h2.card-h2.hack CLEAN TYPOGRAPHY
                                p.card-desc Lorem ipsum dolor sit amet, consectetur adipisicing
                                p.card-desc elit. Minima maxime quam architecto quo inventore
                                p.card-desc harum ex magni, dicta impedit. Lorem ipsum.
                    .card2
                        figure 
                            a(href="javascript:void(0)").slash.triple-click
                            figcaption 
                                h2.card-h2.hack-second(onclick="tripleClick(event)") CLEAN TYPOGRAPHY
                                p.card-desc Lorem ipsum dolor sit amet, consectetur adipisicing
                                p.card-desc elit. Minima maxime quam architecto quo inventore
                                p.card-desc harum ex magni, dicta impedit. Lorem ipsum.
                    .card3 
                        figure 
                            a(href="javascript:void(0)").circle 
                            figcaption 
                                h2.card-h2.hack-third CLEAN TYPOGRAPHY
                                p.card-desc Lorem ipsum dolor sit amet, consectetur adipisicing
                                p.card-desc elit. Minima maxime quam architecto quo inventore
                                p.card-desc harum ex magni, dicta impedit. Lorem ipsum.
                h1.people-h1 ABOUT US
                p.main-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                .main-left-text-block 
                    p.main-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod
                    p.main-desc tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et
                    p.main-desc accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                    p.main-desc sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat.
                    p.main-desc Lorem ipsum dolor sit amet. Lorem ipsum eat.
                .main-right-text-block
                    p.main-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirtempor
                    p.main-desc invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos eaccusam
                    p.main-desc et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                    p.main-desc Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Loreipsum
                    p.main-desc dolor sit amet. Lorem ipsum dolor et.
                .people 
                    figure.man-figure
                        img(src="img/first-man.jpg", alt="man")
                        figcaption 
                            h3.people-h3 Md. Khalil Uddin
                            p.people-text Head of Ideas
                    figere.man-figure
                        img(src="img/second-man.jpeg", alt="man")
                        figcaption 
                            h3.people-h3 Rubel Miah
                            p.people-text Lead WordPress Developer
                    figere.man-figure
                        img(src="img/third-man.jpeg", alt="man")
                        figcaption 
                            h3.people-h3 Shamim Mia
                            p.people-text Sr. Web Developer
                    figere.man-figure
                        img(src="img/fourth-man.jpg", alt="man")
                        figcaption 
                            h3.people-h3 John Doe
                            p.people-text Front-end Developer
                    a(href="#").left-arrow-block
                        img(src="img/left-arrow.jpeg", alt="arrow").left-arrow
                    a(href="#").right-arrow-block
                        img(src="img/right-arrow.jpeg", alt="arrow").right-arrow
                .works 
                    h1.works-h1 LATEST WORKS
                    form(action="javascript:void(0)").form1 
                        input(type="radio", name="radio" id="radio1" onclick="allOpen()").radio
                        label(for="radio1" onclick="allOpen()") All
                        input(type="radio", name="radio" id="radio2" onclick="brandingOpen()").radio
                        label(for="radio2" onclick="brandingOpen()") Branding
                        input(type="radio", name="radio" id="radio3" onclick="designOpen()").radio
                        label(for="radio3" onclick="designOpen()") Design
                        input(type="radio", name="radio" id="radio4" onclick="developmentOpen()").radio
                        label(for="radio4" onclick="developmentOpen()") Development
                        input(type="radio", name="radio" id="radio5" onclick="strategyOpen()").radio
                        label(for="radio5" onclick="strategyOpen()") Strategy
                    .photos
                        .photo.photo-first 
                            img(src="img/girl.jpg", alt="girl")
                            .photo-hover
                                h4 Hair Dresser
                                p Branding
                                a.button(href="#") VIEW
                        .photo.photo-second
                            img(src="img/bird.jpeg", alt="bird").picture
                            .photo-hover
                                h4 Hair Dresser
                                p Branding
                                a.button(href="#") VIEW
                        .photo.photo-third
                            img(src="img/notebook.jpeg", alt="notebook").picture
                            .photo-hover
                                h4 Hair Dresser
                                p Branding
                                a.button(href="#") VIEW 
                        .photo.photo-fouth
                            img(src="img/camera.jpg", alt="camera").picture
                            .photo-hover
                                h4 Hair Dresser
                                p Branding
                                a(href="#").button VIEW 
                        .photo.photo-fifth
                            img(src="img/bicycle.jpeg", alt="bicycle").picture
                            .photo-hover
                                h4 Hair Dresser
                                p Branding
                                a(href="#").button VIEW
                        .photo.photo-sixth
                            img(src="img/copebook.jpeg", alt="copebook").picture
                            .photo-hover
                                h4 Hair Dresser
                                p Branding
                                a(href="#").button VIEW
                        .photo.photo-seventh 
                            img(src="img/work.jpeg", alt="work").picture
                            .photo-hover
                                h4 Hair Dresser
                                p Branding
                                a(href="#").button VIEW
                        .photo.photo-eighth
                            img(src="img/school.jpeg", alt="school").picture
                            .photo-hover
                                h4 Hair Dresser
                                p Branding
                                a(href="#").button VIEW
                        .photo.photo-ninth
                            img(src="img/calendar.jpeg", alt="calendar").picture
                            .photo-hover
                                h4 Hair Dresser
                                p Branding
                                a(href="#").button VIEW
        .main-backround     
            .wrapper
                h1.middle-h1 Do you like OUR WORK so far?
                h1.middle-h1.margin Let's talk about YOUR PROJECT!
                a(href="javascript:void(0)" onclick="scrollGetInTouch()").get-in-touch GET IN TOUCH 
        .wrapper
            h1.main-h1 RECENT BLOG POSTS
            p.main-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
            .startup-block 
                .page
                    img(src="../img/startup.jpg", alt="startup")
                .desc
                    .date
                        p.date-text 18
                        p.date-text OCT
                    .h
                        h2.blog-h2 STARTUP IDEAS NEEDS TO BE FUNDED 
                        p.mini-desc By Khalil Uddin in Development  
                    p.main-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore
                    p.main-desc et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                    p.main-desc erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem
                    p.main-desc ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore
                    p.main-desc et dolore aliquyam erat, sed diam 
                    a(href="javascript:void(0)" onclick="popupOpen()").more READ MORE
                //- form.first-popup
                //-     h2 MORE
                //-     p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni sunt odit eum in sint fuga facere. Libero itaque vel sapiente, fuga enim vero quae! Excepturi consequuntur dolorem repudiandae quia esse.
            .line
            .interface-block 
                .page 
                    img(src="../img/interface.jpeg", alt="interface")
                .desc
                    .date
                        p.date-text 18
                        p.date-text OCT
                    .h
                        h2.blog-h2 STARTUP IDEAS NEEDS TO BE FUNDED 
                        p.mini-desc By Khalil Uddin in Development  
                    p.main-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore
                    p.main-desc et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                    p.main-desc erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem
                    p.main-desc ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore
                    p.main-desc et dolore aliquyam erat, sed diam
                    a(href="#").more READ MORE
            .brands 
                img(src="../img/first-brand.jpg", alt="brand")
                img(src="../img/second-brand.jpg", alt="brand")
                img(src="../img/third-brand.jpg", alt="brand")
                img(src="../img/fourth-brand.jpg", alt="brand")
                img(src="../img/fiveth-brand.jpg", alt="brand")
            .quotes
                p.main-desc Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                p.main-desc.margin Temporibus autem quibusdam et aut officiis debitis aut rerumвЂќ 
                p.main-desc John Doe, Google Inc.
            h1.main-h1 GET IN TOUCH
            p.main-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
            .get-in-touch-block
                .info
                    .address-block 
                        h5.address ADDRESS
                        p.reg-desc 312, 7th Ave, New York
                        p.reg-desc NY 101200, United States of America
                    .hothile-block 
                        h5.hotline HOTLINE (24x7)
                        p.reg-desc +65 0052 300, +65 88251 210 
                        p.reg-desc +88 01723 511 340
                    .email-block 
                        h5.email E-MAIL
                        p.reg-desc shapedtheme@gmail.com
                        p.reg-desc khalilkode@gmail.com
                .form 
                    form(action="javascript:void(0)") 
                        input(type="text" placeholder="YOUR NAME").mr
                        input(type="text" placeholder="YOUR E-MAIL")
                        input(type="text" placeholder="YOUR SUBJECT").mr
                        input(type="text" placeholder="COMPANY NAME")
                        textarea(name="text" value="WHRITE YOUR MESSAGE" cols="30", rows="9").textarea 
                        input(type="submit" value="SEND MESSAGE").mr.submit
                        p.form-text * We'll contact you as as possible. We don't reply on Monday.
        .footer-backround
            .icons 
                img(src="../img/ico.png", alt="ico").ico
                img(src="../img/ico.png", alt="ico").ico
                img(src="../img/ico.png", alt="ico").ico
                img(src="../img/ico.png", alt="ico").ico
            p.c © 2015 Startup, Designed by ShapedTheme
        script(src="js/scripts.js")